<head lang="zh-cn">
    <meta charset="utf-8" />
</head>
<table border='1'cellspacing="0" cellpadding="5" >
    <tr>
        <td>Store</td>
        <td>Time</td>
        <td>Order # This Hour</td>
        <td>Revenue This Hour</td>
        <td>Order # Today</td>
        <td>Revenue Today</td>
    </tr>
    {% for shop in shops %}
    {% if shop.sum %}
    <tr style="font-weight: bold">
        <td>{{shop.shop}}</td>
        <td>{{shop.time}}</td>
        <td>{{shop.order}}</td>
        <td>￥ {{shop.revenue}}</td>
        <td>{{shop.ttl_order}}</td>
        <td>￥ {{shop.ttl_revenue}}</td>
    </tr>
    {% else %}
    <tr>
        <td>{{shop.shop}}</td>
        <td>{{shop.time}}</td>
        <td>{{shop.order}}</td>
        <td>￥ {{shop.revenue}}</td>
        <td>{{shop.ttl_order}}</td>
        <td>￥ {{shop.ttl_revenue}}</td>
    </tr>
    {% endif %}
    {% endfor %}


</table>

<mark>
    <p>Exchange Rate</p>
    {% for currency in currencys%}
    <p>{{currency.name}} {{currency.rate}}</p>
    {% endfor%}
</mark>

